.main-title{
    margin-top: 54px;
    max-width: 85%;
}


/* MEDIA QUERIES */

@media screen and (min-width: 0px) and (max-width: 479px) {
   .main-title{
        text-align: center;
        max-width: 100%;
        font-size: 1.9em;
   }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .main-title{
        text-align: center;
        max-width: 100%;
   }
}


@media screen and (min-width: 767px) and (max-width: 1163px) {
    .main-title{
        max-width: 100%;
   }
}

