.about-container{
    display: flex;
    flex-direction: column;
}

.bio-container{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    padding-top: 50px;
}


.bio-data__container{
    display: flex;
    flex-direction: row;
}

.bio-text{
    display: flex;
    flex-direction: column;
}

.bio-text p {
    margin-top: 10px;
    width: 80%;
}

.img-background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background: linear-gradient(165deg, rgba(59,246,134,1) 48%, rgba(76,169,255,1) 71%);
    box-shadow: 0 0 0 2px #323443;
    line-height: 30px;
    margin-right: 20px;
}

.profile-pic{
    border-radius: 50%;
    padding: 2px;
    
}

.socialMedia-icons{
    color: white; 
    font-size: 32px;
    margin: 10px 10px 0 10px;
}

.speciality-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 70px 0;
}

.speciality-container p {
    margin-top: 10px;
}

.whatIdo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .skills-container{
    display: flex;
    flex-direction: row;
   align-items: center;
}  */


.slick-track {
    top: 31px !important;
}

.slick-list{
    height: 225px;
}

.slick-prev:before{
    content: none !important;
}

.slick-next {
    right: -10px !important;
}

#connect-btn{
    display: none !important;
}

/* MEDIA QUERIES */

 @media screen and (min-width: 0px) and (max-width: 625px) {
    .bio-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bio-data__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }

    .bio-text  {
        text-align: center;
        align-items: center;
        margin: 10px 0;
    }

    .contact-data h3{
        display: none;
    }


    .speciality-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .whatIdo-container{
        margin-bottom: 70px;
        align-items: center;
    }

    .slick-next {
        right: -1px !important;
    }

    .img-background{
        margin-right: 0;
    }
 }

 
 @media screen and (min-width: 0) and (max-width: 767px) {
    .bio-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bio-data__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }

    .bio-text  {
        text-align: center;
        align-items: center;
        margin: 10px 0;
    }

    .img-background{
        order: -2;;
    }

    .contact-data{
        margin: 10px 0;
        order: -1;

    }

    .contact-data h3{
        display: none;
    }
    
    #connect-btn{
        display: flex !important;
    } 


 }
 
 @media screen and (min-width: 768px) and (max-width: 1024px){
    .bio-data__container{
        align-items: center;
      
    }
 }