
.repos-section{
    padding-bottom: 70px;
}

.repos-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 34px 0;
    max-height: 770px;
    overflow: hidden;
    transition: all 1s;
}

.repo-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    min-height: 369px;
    background-color: #323443;
    border-radius: 20px;
    padding: 30px 40px 5px 40px;
    transition: transform 0.4s linear;
}

.animation:hover .repo-card {
    transform: translatey(-5px);
  }

.repo-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.repo-techStack *{
    margin-right: 10px;
}

.repo-rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.repo-description p{
    margin: 20px 0;
    color: white;
}

.showAll-repos{
    max-height: 1170px;
   }

/* MEDIA QUERIES */

@media screen and (min-width: 0px) and (max-width: 431px) {
    .repos-container{
        display: flex;
        flex-direction: column;
        max-height: 768px;
    }

    .showAll-repos{
        max-height: 2515px;
       }

    .repo-card{
        max-width: 100%;
    }

    .repo-techStack img{
        height: 40px;
        width: 40px;
    }

   }
   
   @media screen and (min-width: 432px) and (max-width: 820px) {
    .repos-container{
        display: flex;
        flex-direction: column;
        max-height: 768px;
    }

    .showAll-repos{
        max-height: 2515px;
       }

    .repo-card{
        max-width: 100%;
    }


   }
   
   