
.generic-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: none;
    background-color: #323443;
    font-size: 14px;
    color: #C9C9C9;
    padding: 15px;
    width: 165px;
    height: 44px;
    border-radius: 10px;
    margin: 15px 0;
    cursor: pointer;
    border: 1px solid #C9C9C9;;

}

.cv-btn{
    border-style: none;
    width: 194px;
    height: 56px;

    
}

.btn-background{
    align-items: center;
    background: linear-gradient(165deg,#3bf686 48%,#4ca9ff 71%);
    border-radius: 10px;
    box-shadow: 0 0 0 2px #323443;
    display: flex;
    height: 60px;
    justify-content: center;
    line-height: 30px;
    width: 200px;
    margin-top: 40px;
   
    
}

.white-hover:hover{
    background-color: white;
    color: #323443;
    
}

.darker-hover:hover{
   background-color:  #252732;
   color: white;
}

