
.backToTop-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: none;
    background-color: #323443;
    font-size: 14px;
    color: #C9C9C9;
    padding: 15px;
    width: 165px;
    height: 44px;
    border-radius: 10px;
    margin: 15px 0;
    cursor: pointer;
    border: 1px solid #C9C9C9;;

}