footer{
    background-color: #323443;
    height: 519px;
    width: auto;
}

.tech-stack-title{
    margin-top: 20px;
}

.logos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.tech-logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-content: center;
    width: 900px;
    height: auto;
    gap: 10px;
    
}

.tech-logos *{
    width: 100%;
  height: 100%;
    margin: 5px 5px;
}