.navBar-container{
    display: flex;
    justify-content: center;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 0px 20px 0px;
    width: 100%;
    border-bottom: 1px solid #4D4D4D;
}

ul{
    display: flex;
    flex-direction: row;
    
}

li{
    margin: 0 20px;
    color: #D4D4D4;
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    list-style-type: none;
}

li:hover{
    color: white;
}

/* MEDIA QUERIES */

@media screen and (min-width: 0px) and (max-width: 579px) {
 ul{
    display: none;
 }
}
 
 @media screen and (min-width: 768px) and (max-width: 1086px) {
     

 }

