.projects-section{
    padding-bottom: 70px;
}

.projects-container{
    display: flex;
    flex-direction: column;
    max-height: 1040px;
    overflow: hidden;
    transition: all 1.5s;
}

.project{
    margin: 20px 0 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-thumbnail-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 555px;
    height: 282px;
    background-color: #323443;
}

.project-details{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 15px;
}

.project-details * {
    margin: 10px 0;
}

.projectLink-btn{
    justify-self: flex-start;
    align-self: self-end;
    color: white; 
    font-size: 32px;
    margin: 10px 10px 0 10px;
}

a{
    text-decoration: none;
}

.showAll-projects{
 max-height: 2100px;
}


@media screen and (min-width: 320px) and (max-width: 479px) {
    .bio-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bio-data__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bio-text  {
        align-items: center;
    }

    .contact-data h3{
        display: none;
    }
 }
 
 /* MEDIA QUERIES */

@media screen and (min-width: 320px) and (max-width: 479px) {
  .project{
    display: flex;
    flex-direction: column;
  }
 }
 
 @media screen and (min-width: 480px) and (max-width: 880px) {
    .project{
        display: flex;
        flex-direction: column;
      }
 }
 
 @media screen and (min-width: 768px) and (max-width: 1200px) {
     
 }